/* .RoomInfo{
    min-height:10vh;
    background-color:#1A1A1D;
    display: flex;
    align-items:center;
    justify-content:space-between;
    padding: 0 40px;
    font-family: 'Bangers', cursive;
}

.roomName{
    display: flex;
    align-items:center;
   font-size:18px; 
}
.roomName span{
    color:white;
}
.onlineIcon{
    height:6px;
    width:6px;
    margin-right:20px;
} */

.RoomInfo{
    background-color:#1A1A1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    width: 85%;
    position:fixed;
    top: 0;
    z-index: 100;
}
.onlineIcon{
    margin-right: 5%;
}
.roomName{
    flex: 0.5;
    display: flex;
    align-items: center;
    margin-left: 5%;
    color: white;
}
.roomName span{
    color:white;
    font-family: 'Bangers', cursive;
    font-size: 18px;
}
.closeIcon{
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}