.OnlineUser{
    display: flex;
    flex-direction: column;
}

.OnlineUser h3{
    text-align: center;
    font-size: 23px;
    font-weight:400;
    color:white;
    border-bottom: 1px solid white;
    padding-bottom:17px;
    font-family: 'Bangers', cursive;

}

.userSpan{
    display: flex;
    flex-direction:row;
    align-items:center;
    padding:10px 20px;
    width:fit-content;
    transition: all 0.3s;
}

.userSpan span{
    color:#C3073F;
}
.userSpan:hover{
    transform: translateX(10px);
    transition: transform 0.3s ;
}
.userSpan:hover span{
    color: white;
}

