.codeBox,.messageBox{
  border-radius: 20px;
  padding: 5px 20px;
  color: black;
  display: inline-block;
  max-width: 55%;
}


.messageBox {
  background: #C3073F;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size:14px;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: black;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}


.backgroundLight {
  background: #F3F3F3;
}

#coding-space-message > .ace_scroller {
	pointer-events: none;
}