.MessageInput{
    width:90%;
    padding-top:5px;
}

.input{
    border:1px solid black;
    border-radius:50px;
    width:85%;
    height:52px;   
    outline:none;
    padding-left: 10px;
    /* margin:10px 10px;
    padding-left:20px;
    margin-top:-5px; */
}

.msgbtn{
    border:none;
    outline:none;
    background-color:transparent;
    margin-top:5px;
    margin-left:20px;
    cursor:pointer;
    color:black;
    font-family: 'Bangers', cursive;
    font-size: 27px;
}
