.messages {
  padding: 7% 0;
  overflow: auto;
  flex: auto;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(97, 97, 97); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C3073F; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}