.ChatPage{
    display:flex;
    flex-direction:row;
    /* flex-wrap: wrap;
    justify-content: center; */
}

.LeftPane{
    width: 20%;
    background-color:#1A1A1D;
    height: 100vh;
    overflow: scroll;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.LeftPane::-webkit-scrollbar { /* WebKit */
    width: 0px;
}

.RightPane{
    background-color:yellow;
    display:flex;
    flex-direction:column;
    width: 100%;
}