.EmojiIcon{
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    width:5%;
    padding-left: 60px;
    cursor: pointer;
}
.emojiPicker{
    transform: translate(50px,-450px); /* Standard syntax */
    z-index:100;
    position: absolute;
}

.EmojiSelector{
    display:flex;
    flex-direction:row
}