.EmojiIcon{
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    padding-left: 40px;
    cursor: pointer;
}
.emojiPicker{
    transform: translate(50px,-450px); /* Standard syntax */
    z-index:100;
    position: absolute;
}

.EmojiSelector{
    display:flex;
    flex-direction:row
}
.EmojiFace{
    color:white;
}
.EmojiFace:hover{
    color: rgb(163, 163, 163);
}